@charset "UTF-8";
:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animate__animated.animate__delay-010s {
    -webkit-animation-delay: calc(1s * 0.10);
    animation-delay: calc(1s * 0.10);
    -webkit-animation-delay: calc(var(--animate-delay) * 0.10);
    animation-delay: calc(var(--animate-delay) * 0.10);
}

.animate__animated.animate__delay-020s {
    -webkit-animation-delay: calc(1s * 0.20);
    animation-delay: calc(1s * 0.20);
    -webkit-animation-delay: calc(var(--animate-delay) * 0.20);
    animation-delay: calc(var(--animate-delay) * 0.20);
}

.animate__animated.animate__delay-025s {
    -webkit-animation-delay: calc(1s * 0.25);
    animation-delay: calc(1s * 0.25);
    -webkit-animation-delay: calc(var(--animate-delay) * 0.25);
    animation-delay: calc(var(--animate-delay) * 0.25);
}

.animate__animated.animate__delay-030s {
    -webkit-animation-delay: calc(1s * 0.30);
    animation-delay: calc(1s * 0.30);
    -webkit-animation-delay: calc(var(--animate-delay) * 0.30);
    animation-delay: calc(var(--animate-delay) * 0.30);
}

.animate__animated.animate__delay-040s {
    -webkit-animation-delay: calc(1s * 0.40);
    animation-delay: calc(1s * 0.40);
    -webkit-animation-delay: calc(var(--animate-delay) * 0.40);
    animation-delay: calc(var(--animate-delay) * 0.40);
}

.animate__animated.animate__delay-050s {
    -webkit-animation-delay: calc(1s * 0.50);
    animation-delay: calc(1s * 0.50);
    -webkit-animation-delay: calc(var(--animate-delay) * 0.50);
    animation-delay: calc(var(--animate-delay) * 0.50);
}

.animate__animated.animate__delay-060s {
    -webkit-animation-delay: calc(1s * 0.60);
    animation-delay: calc(1s * 0.60);
    -webkit-animation-delay: calc(var(--animate-delay) * 0.60);
    animation-delay: calc(var(--animate-delay) * 0.60);
}

.animate__animated.animate__delay-070s {
    -webkit-animation-delay: calc(1s * 0.70);
    animation-delay: calc(1s * 0.70);
    -webkit-animation-delay: calc(var(--animate-delay) * 0.70);
    animation-delay: calc(var(--animate-delay) * 0.70);
}

.animate__animated.animate__delay-075s {
    -webkit-animation-delay: calc(1s * 0.75);
    animation-delay: calc(1s * 0.75);
    -webkit-animation-delay: calc(var(--animate-delay) * 0.75);
    animation-delay: calc(var(--animate-delay) * 0.75);
}

.animate__animated.animate__delay-080s {
    -webkit-animation-delay: calc(1s * 0.80);
    animation-delay: calc(1s * 0.80);
    -webkit-animation-delay: calc(var(--animate-delay) * 0.80);
    animation-delay: calc(var(--animate-delay) * 0.80);
}

.animate__animated.animate__delay-090s {
    -webkit-animation-delay: calc(1s * 0.90);
    animation-delay: calc(1s * 0.90);
    -webkit-animation-delay: calc(var(--animate-delay) * 0.90);
    animation-delay: calc(var(--animate-delay) * 0.90);
}

.animate__animated.animate__delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-delay: var(--animate-delay);
    animation-delay: var(--animate-delay);
}

@media print, (prefers-reduced-motion: reduce) {
    .animate__animated {
        -webkit-animation-duration: 1ms !important;
        animation-duration: 1ms !important;
        -webkit-transition-duration: 1ms !important;
        transition-duration: 1ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
    }

    .animate__animated[class*='Out'] {
        opacity: 0;
    }
}

/* Fading entrances  */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpDropdown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUpDropdown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInUpDropdown {
    -webkit-animation-name: fadeInUpDropdown;
    -webkit-animation-duration: 0.5s;
    animation-name: fadeInUpDropdown;
    animation-duration: 0.5s;
}

/* Zooming entrances */
@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

.animate__zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

/* Sliding entrances */
@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

@keyframes progressSquare {
    from {
        stroke-dasharray: 403;
        stroke-dashoffset: 403
    }
    to {
        stroke-dasharray: 403;
        stroke-dashoffset: 0
    }
}

.animate__progress__square {
    -webkit-animation-name: progressSquare;
    animation-name: progressSquare;
}

.animate__progress__first-phase, .animate__progress__second-phase, .animate__progress__third-phase, .animate__progress__sixty-six {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes progressFirstPhase {
    from {
        stroke-dasharray: 0 100;
    }
    to {
        stroke-dasharray: 94 100;
    }
}

.animate__progress__first-phase {
    -webkit-animation-name: progressFirstPhase;
    animation-name: progressFirstPhase;
}

@keyframes progressSecondPhase {
    from {
        stroke-dasharray: 0 100;
    }
    to {
        stroke-dasharray: 75 100;
    }
}

.animate__progress__second-phase {
    -webkit-animation-name: progressSecondPhase;
    animation-name: progressSecondPhase;
}

@keyframes progressThirdPhase {
    from {
        stroke-dasharray: 0 100;
    }
    to {
        stroke-dasharray: 58 100;
    }
}

.animate__progress__third-phase {
    -webkit-animation-name: progressThirdPhase;
    animation-name: progressThirdPhase;
}

@keyframes progressSixtySix {
    from {
        stroke-dasharray: 0 100;
    }
    to {
        stroke-dasharray: 66 100;
    }
}

.animate__progress__sixty-six {
    -webkit-animation-name: progressSixtySix;
    animation-name: progressSixtySix;
}

.animate__path_corner_line_one {
    -webkit-animation-name: pathCornerLineOne;
    animation-name: pathCornerLineOne;
}

@keyframes pathCornerLineOne {
    from {
        stroke-dasharray: 497.25;
        stroke-dashoffset: 497.25;
    }
    to {
        stroke-dashoffset: 0;
        stroke-dasharray: 497.25;
    }
}

.animate__between_line {
    -webkit-animation-name: betweenLine;
    animation-name: betweenLine;
}

@keyframes betweenLine {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

@media only screen and (min-width: 768px) {
    @keyframes betweenLine {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
}
