.icon svg {
  width: 48px;
  height: 48px;
}

.icon.large svg {
  width: 64px;
  height: 64px;
}

.card-item {
  background: #e0e0e0;
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
.card-item .content {
  padding: 16px 12px 16px 16px;
}
.card-item .content h3.title {
  font-size: 1.1rem;
  margin-bottom: 4px;
}
.card-item .content p.subtitle {
  margin: 0;
}
.card-item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 16px 12px 12px;
  border-left: 1px solid rgba(128, 130, 133, 0.5);
  position: relative;
}
.card-item .icon:before {
  z-index: 0 !important;
}
.card-item .icon svg {
  fill: #808285;
  position: relative;
  z-index: 1;
}

.card-item.primary-color {
  background: #509C4E;
  box-shadow: none;
}
.card-item.primary-color p.subtitle {
  color: #FFFFFF !important;
}
.card-item.primary-color .icon {
  border-color: transparent;
}
.card-item.primary-color .icon svg {
  fill: #FFFFFF;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart-container .chart {
  position: relative;
}
.chart-container .chart svg {
  width: 200px;
  height: 200px;
}
.chart-container .chart svg .background {
  stroke: none;
}
.chart-container .chart svg .stroke {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
}
.chart-container .chart .percentage {
  margin: 6px 0 0 0;
  font-family: "Iran Sans Medium";
  font-weight: bold;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.chart-container .chart.small svg {
  width: 150px;
  height: 150px;
}
.chart-container .chart.small .percentage {
  font-size: 2rem;
  margin: 4px 0 0 -1px;
}

.chart.primary-color svg .background {
  fill: #e0e0e0;
}
.chart.primary-color svg .stroke {
  stroke: #FFFFFF;
}

.chart.secondary-color svg .background {
  fill: #e0e0e0;
}
.chart.secondary-color svg .stroke {
  stroke: #FFFFFF;
}

.chart.tertiary-color svg .background {
  fill: #FFFFFF;
}
.chart.tertiary-color svg .stroke {
  stroke: #e54546;
}
.chart.tertiary-color .percentage {
  color: #e54546 !important;
}

.chart.tertiary-primary-color svg .background {
  fill: #FFFFFF;
}
.chart.tertiary-primary-color svg .stroke {
  stroke: #509C4E;
}
.chart.tertiary-primary-color .percentage {
  color: #509C4E !important;
}

.chart.fourth-color svg .background {
  fill: #e0e0e0;
}
.chart.fourth-color svg .stroke {
  stroke: #e54546;
}
.chart.fourth-color .percentage {
  color: #808285;
}

.chart-icon {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
}
.chart-icon h2 {
  margin: 0 0 -10px;
  padding: 4px 0;
  font-size: 2.5rem;
}
.chart-icon p {
  margin: 0;
  font-weight: bold;
}

.chart-icon.secondary-color .icon {
  fill: #FFFFFF;
}
.chart-icon.secondary-color h2, .chart-icon.secondary-color p {
  color: #FFFFFF;
}

.chart-icon.tertiary-color .icon {
  fill: #808285;
}
.chart-icon.tertiary-color h2 {
  color: #e54546;
}
.chart-icon.tertiary-color p {
  color: #808285;
}

.simple-card {
  width: 100%;
  display: inline-block;
  color: #FFFFFF;
  background: #e54546;
  padding: 8px 16px;
  border-radius: 8px;
  font-family: "Iran Sans Bold", Arial, sans-serif;
  font-weight: bold;
}

.simple-box {
  width: 100%;
  height: 100%;
  background: #e0e0e0;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.simple-box strong {
  font-size: 2rem;
  font-family: "Iran Sans Black", Arial, sans-serif;
}
.simple-box p {
  margin-bottom: 0;
  margin-right: 16px;
  font-weight: bold;
}

.list-underline {
  background: #e0e0e0;
  padding: 8px;
  list-style-type: none;
  border-radius: 8px;
  margin: 0;
}
.list-underline .item {
  font-family: "Iran Sans Medium";
  font-weight: bold;
  padding-right: 16px;
}
.list-underline hr {
  border: none;
  border-bottom: 1px solid #cacaca;
}

/*# sourceMappingURL=components.css.map */
