@import "_Variables";
@import "_Mixins";

.icon svg {
  width: 48px;
  height: 48px;
}

.icon.large svg {
  width: 64px;
  height: 64px;
}

.card-item {
  background: $tertiaryColor;
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;

  .content {
    padding: 16px 12px 16px 16px;

    h3.title {
      font-size: 1.1rem;
      margin-bottom: 4px;
    }

    p.subtitle {
      margin: 0;
    }


  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 16px 12px 12px;
    border-left: 1px solid rgba($iconColor, 0.5);
    position: relative;

    &:before {
      z-index: 0 !important;
    }

    svg {
      fill: $iconColor;
      position: relative;
      z-index: 1;
    }
  }
}

.card-item.primary-color {background: $primaryColor;box-shadow: none; p.subtitle {color: $white !important;} .icon {border-color: transparent; svg {fill: $white;}}}

.chart-container {
  @include center();

  .chart {
    position: relative;

    svg {
      width: 200px;
      height: 200px;

      .background {
        stroke: none;
      }

      .stroke {
        fill: none;
        stroke-width: 2;
        stroke-linecap: round;
      }
    }

    .percentage {
      margin: 6px 0 0 0;
      font-family: $iranSansMedium;
      font-weight: bold;
      font-size: 3rem;
      @include centerPosition();
    }
  }
}

.chart-container .chart.small {
  svg {
    width: 150px;
    height: 150px;
  }
  .percentage {
    font-size: 2rem;
    margin: 4px 0 0 -1px;
  }
}

.chart.primary-color { svg { .background {fill: $tertiaryColor;} .stroke {stroke: $white;} } }
.chart.secondary-color { svg { .background {fill: $tertiaryColor;} .stroke {stroke: $white;} } }
.chart.tertiary-color { svg { .background {fill: $white;} .stroke {stroke: $secondaryColor;} } .percentage {color: $secondaryColor !important;} }
.chart.tertiary-primary-color { svg { .background {fill: $white;} .stroke {stroke: $primaryColor;} } .percentage {color: $primaryColor !important;} }
.chart.fourth-color { svg { .background {fill: $tertiaryColor;} .stroke {stroke: $secondaryColor;} } .percentage {color: $iconColor;} }



.chart-icon {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;


  h2 {
    margin: 0 0 -10px;
    padding: 4px 0;
    font-size: 2.5rem;
  }

  p {
    margin: 0;
    font-weight: bold;
  }
}
.chart-icon.secondary-color { .icon {fill: $white;} h2, p {color: $white;} }
.chart-icon.tertiary-color { .icon {fill: $iconColor;} h2 {color: $secondaryColor;} p {color: $iconColor;} }

.simple-card {
  width: 100%;
  display: inline-block;
  color: $white;
  background: $secondaryColor;
  padding: 8px 16px;
  border-radius: 8px;
  font-family: $iranSansBold, Arial, sans-serif;
  font-weight: bold;
}

.simple-box {
  width: 100%;
  height: 100%;
  background: $tertiaryColor;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);

  strong {
    font-size: 2rem;
    font-family: $iranSansBlack, Arial, sans-serif;
  }

  p {
    margin-bottom: 0;
    margin-right: 16px;
    font-weight: bold;
  }
}

.list-underline {
  background: $tertiaryColor;
  padding: 8px;
  list-style-type: none;
  border-radius: 8px;
  margin: 0;

  .item {
    font-family: $iranSansMedium;
    font-weight: bold;
    padding-right: 16px;
  }

  hr {
    border: none;
    border-bottom: 1px solid #cacaca;
  }
}