@import "Variables";
@import "Mixins";

.header {
  width: 100%;
  min-height: 100vh;
  padding: 56px 8px 8px;
  background: $tertiaryColor;
  @include center();

  .navbar {
    padding: 0;
    background: $white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }

    .navbar-brand {
      padding: 12px 8px;
    }

  .navbar-nav .nav-item .nav-link {
    padding: 14px 16px;

    &:focus, &:hover {
      background-color: $tertiaryColor;
      opacity: 1;
    }

  }

  .content {
    width: 95%;
    color: $white;
    padding: 24px 0;
    text-align: center;

    .logo {
      width: 100%;
      height: auto;
    }

    svg {
      width: 50%;
      height: auto;
    }

    p {
      width: 68%;
      margin: auto;
      padding-right: 8px;
      font-size: 10vw;
      font-family: $primaryFont;
      text-shadow: 2px 2px $iconColor;
    }
  }
}

@media only screen and (min-width: $breakpoint-sm) { .header .content { width: 95%; p { font-size: 10.5vw; } } }
@media only screen and (min-width: $breakpoint-lg) { .header .content { width: 70%; p { font-size: 7.75vw; } } }
@media only screen and (min-width: $breakpoint-xl) { .header .content { width: 35%; p { font-size: 4vw; } } }


.session-background {
  background-color: $secondaryColor;
  color: $white;

  .session-background-container {
    display: grid;
    grid-template-columns: 1fr;

    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: nowrap row;

      .session-number {
        width: 50px;
        height: 50px;
        color: $secondaryColor;
        background-color: $white;
        font-size: 2rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
      }
    }

    svg {
      width: 108%;
      height: auto;
    }
  }
}

#sessionThreeBg.session-background .session-background-svg svg {
  margin-right: 14vw;
}

#sessionFourBg.session-background {
  padding-bottom: 0;

  .session-background-svg svg {
    margin-right: 14vw;
    margin-bottom: -0.5rem;
  }
}

@media only screen and (min-width: $breakpoint-md) {

  #sessionOneBg.session-background .session-background-container {
    h2 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    svg {
      width: 100%;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }


  .session-background .session-background-container {
      grid-template-columns: 1fr 1fr;

  }

  #sessionTwoBg.session-background .session-background-svg svg{
    grid-column: 2 / 3;
  }
  #sessionThreeBg.session-background .session-background-svg svg {
    grid-column: 2 / 3;
    margin-right: 1vw;
  }

  #sessionFourBg.session-background .session-background-svg svg {
    grid-column: 2 / 3;
    margin-right: 1vw;
    margin-bottom: -8px;
  }
}

.background {
  background-size: cover;
  background: top/cover no-repeat fixed;
  position: relative;

  div {
    padding: 7rem 0;
  }

  .filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  h3 {
    position: relative;
    z-index: 2;
  }
}

section { h2 {margin-bottom: 1.5rem;} article {text-align: justify; p {margin: 0;font-weight: lighter;} } }

.accordion {
  .accordion-button {
    outline: none;
    border: none;
    box-shadow: none;

    &:after {
      width: 12px;
      height: 12px;
      background: none;
      border-bottom: 2px solid $primaryColor;
      border-left: 2px solid $primaryColor;
      transform: rotate(135deg);
      -o-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }

    &:focus {
      outline: none;
      border: none;
    }

    &:not(.collapsed) {
      color: $primaryColor;
      background: $primaryColorLight;
      outline: none;
      border: none;

      &:after {
        transform: rotate(315deg);
        -o-transform: rotate(315deg);
        -ms-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        -webkit-transform: rotate(315deg);
      }
    }
  }

  .accordion-body {
    max-height: 400px;
    overflow-x: hidden;

    article {
      p {
        margin: 8px 0;

        strong {
          color: $primaryColor;
          font-weight: bold;
        }

        .child {
          display: inline-block;
          padding-right: 24px;

          strong {
            color: $iconColor;
          }
        }
      }
    }
  }
}

.accordion.bg-secondary {
  background: none !important;

  .accordion-button {
    &:after {
      border-bottom: 2px solid $secondaryColor;
      border-left: 2px solid $secondaryColor;
    }

    &:not(.collapsed) {
      color: $secondaryColor;
      background: lighten($secondaryColor, 30%);
    }
  }

  .accordion-body {
    strong {
      color: $secondaryColor;
    }
  }
}
.accordion .accordion-body, .tab-content { &::-webkit-scrollbar {width: 4px;} &::-webkit-scrollbar-track {background: $white;border-radius: 12px;margin-bottom: 16px;} &::-webkit-scrollbar-thumb {background: #888;border-radius: 12px;} &::-webkit-scrollbar-thumb:hover {background: #555;} }

.tab-container {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);

  .nav-tabs {
    border-bottom: none;
    flex-wrap: nowrap;

    .nav-item {
      &:first-of-type {
        .nav-link {
          border-top-left-radius: 0;
        }
      }

      &:last-of-type {
        .nav-link {
          border-top-right-radius: 0;
        }
      }

      .nav-link.active {
        color: $white;
        background: $primaryColor;
      }

      .nav-link {
        border: none;

        &:not(.active) {
          color: $primaryColor;
          background: $tertiaryColor;
        }
      }
    }
  }

  .tab-content {
    max-height: 500px;
    border: none;
    border-radius: 0 0 24px 24px;
    padding: 16px;
    overflow-x: hidden;
    overflow-y: auto;

    article {
      p {
        margin: 8px 0;
      }
    }

    .icons {
      .row-one, .row-two {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 16px;
        padding: 8px 0;

        p {
          text-align: center;
        }
      }

      .row-two {
        grid-template-columns: repeat(2, 1fr);

        div:last-of-type {
          grid-column: 1 / 3;
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .tab-container .tab-content .icons {
    .row-one {
      grid-template-columns: repeat(4, 1fr);
    }

    .row-two {
      grid-template-columns: repeat(5, 1fr);

      div:last-of-type {
        grid-column: auto;
      }
    }
  }
}

.action-item {height: 100%;display: flex;flex-flow: nowrap row;align-items: center;background-color: darken($tertiaryColor, 10%);border-radius: 12px;padding: 16px; .action-item-content {padding-right: 16px; p {text-align: justify;} } .icon-lg {position: relative; &:before {background-color: $secondaryColor;z-index: 1;} svg {position: relative;z-index: 2;} } }

.carousel.outside {

  .carousel-indicators {
    top: 100%;
    margin: 4px 0 1.25rem 0;

    .active {
      opacity: 1;
      background-color: $secondaryColor;
    }


    [data-bs-target] {
      width: 15px ;
    }
  }

  .carousel-control-prev, .carousel-control-next {
    display: none;

  }

  .carousel-item {

    .card {
      background: darken($tertiaryColor, 10%);
      border-radius: 8px;

      .card-body {

        .card-title {
          color: $secondaryColor;
          margin-bottom: 24px;

          .icon-sm {
            &:before {
              background-color: $secondaryColor;
              width: 64px;
              height: 64px;
              z-index: 0;
            }

            svg {
              width: 64px;
              height: 64px;
              position: relative;
            }
          }

          .icon-sm.top {
            &:before {
              bottom: 15%;
            }
          }

          .icon-sm.bottom {
            &:before {
              top: 15%;
            }
          }

          .icon-sm.left {
            &:before {
              right: 15%;
            }
          }

          .icon-sm.right {
            &:before {
              left: 15%;
            }
          }
        }

        article p {
          margin: 8px 0;
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .carousel.outside {
    .carousel-control-next {
      display: flex;
      width: auto;
      right: 100%;
      justify-content: flex-start;
      padding: 0 1.5rem;
    }
    .carousel-control-prev {
      display: flex;
      width: auto;
      left: 100%;
      right: auto;
      justify-content: flex-start;
      padding: 0 1.5rem;
    }
    .carousel-indicators {
      display: flex;

      [data-bs-target] {
        width: 25px;
      }
    }
  }
}

.carousel { .carousel-indicators.quote-carousel-indicators {top: 100%; button {background-color: $primaryColor;} } }  .quote {width: 100%;height: 100%;background: $primaryColor;display: flex;flex-flow: wrap column;justify-content: center;padding: 16px;border-radius: 8px; p {color: $white;font-weight: bold;padding: 16px 0;text-align: justify;margin: 0;} .sessionTwoPartTwoBg {align-self: flex-end;} }  @media only screen and (min-width: $breakpoint-sm) { .quote {padding: 48px 102px;} }

.target-item { svg {width: 64px;height: auto} }
@media only screen and (min-width: $breakpoint-md) {.target-item { svg {width: auto;height: 64px;} }}

.square-items-container {width: 100%;height: 100%;display: grid;grid-template-columns: 1fr;grid-template-rows: auto;justify-items: center;grid-gap: 36px; .square-item {width: 100%;color: $black;background-color: $tertiaryColor;padding-bottom: 100%;border-radius: 8px;position: relative;box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25); .content {width: 100%;margin: 0;text-align: center;font-family: $iranSansMedium;font-size: 5.5vw;@include centerPosition(); .count {color: $primaryColor;font-size: 22vw;font-family: $iranSansMedium;} } } }
@media only screen and (min-width: $breakpoint-sm) { .square-items-container {grid-template-columns: 1fr 1fr;grid-template-rows: 1fr 1fr;grid-gap: 24px; .square-item .content {font-size: 2.5vw; .count {font-size: 10vw;} } } }
@media only screen and (min-width: $breakpoint-lg) { .square-items-container .square-item .content {font-size: 1.5vw; .count {font-size: 5vw;} } }
@media only screen and (min-width: $breakpoint-xxxl) { .square-items-container .square-item .content {font-size: 1vw; .count {font-size: 4.5vw;} } }
@media only screen and (min-width: $breakpoint-mac-devices) { .square-items-container .square-item .content {font-size: 0.75vw; .count {font-size: 3.75vw;} } }

.result-items-container {
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 24px;

  .result-item {
    background: $tertiaryColor;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;

    > * {
      padding: 16px;
    }

    p {padding-right: 12px;}

    .icon-md {
      height: 75%;
      padding-left: 12px;
      display: flex;
      align-items: center;
      border-left: 1px solid rgba($iconColor, 0.5);

      svg {
        fill: $iconColor;
      }
    }
  }
}

.find-item {
  position: relative;

  .content {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 16px;
    margin: 0;
    @include centerPosition();

    .count {
      font-size: 2.5rem;
    }
  }
}

@media only screen and (min-width: $breakpoint-sm) { .find-item { .content {font-size: 1rem; .count {font-size: 3rem;} } } }
@media only screen and (min-width: $breakpoint-md) { .find-item { .content {font-size: 1.2rem; .count {font-size: 4.5rem;} } } }
@media only screen and (min-width: $breakpoint-lg) { .find-item { .content {font-size: 1.4rem; .count {font-size: 5.5rem;} } } }
@media only screen and (min-width: $breakpoint-xl) { .find-item { .content {font-size: 1.4rem; .count {font-size: 5.5rem;} } } }


.path {
  circle, ellipse {
    stroke: none;
    fill: $primaryColor;
  }

  .path-line {
    fill: none;
    stroke: $primaryColor;
    stroke-width: 8px;
    stroke-dasharray: 194;
    stroke-dashoffset: -194;
  }

  text {
    font-size: 12px;
    font-family: $iranSansMedium;
  }
}

.list {
  list-style-type: none;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 0;

  li {
    background-color: $tertiaryColor;
    padding: 8px 16px;
    border-radius: 8px;
    margin: 8px 0;
    font-weight: bold;

  }
}

.projects {
  .chart-one {

  }
}

@media only screen and (min-width: $breakpoint-lg) {.path {width: 40%;}}

.medals {transform: translate(0, -2rem);}
@media only screen and (min-width: $breakpoint-md) {.medals {transform: translate(0, -4rem);}}
@media only screen and (min-width: $breakpoint-lg) {.medals {transform: translate(0, -6rem);}}
@media only screen and (min-width: $breakpoint-xxl) {.medals {transform: translate(0, -8rem);}}

footer {background: $tertiaryColor;padding: 2rem 6rem;text-align: center;}



